# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Database
*.db

# Node
node_modules/

# Vue build
dist/

# OS
.DS_Store

# Logs
*.log

# Celery / Redis
*.pid
*.sock

# Reports & exports
backend/exports/
backend/reports/